<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="UTF-8">
</head>

<body>

  <div id="app">
    <v-app>
      <v-content>
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center" v-show="!chartRendered">
            <v-col cols="12" sm="8" md="10">
              <v-card class="elevation-12">
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>CraftBeerPi Log Viewer</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-form>
                    <v-file-input ref="myFiles" v-model="files" multiple label="Log files"></v-file-input>
                    <v-color-picker v-for="color in colors" v-model="color.color" style="display:inline-block"></v-color-picker>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" :disabled="files.length === 0" @click="renderChart">Render Chart</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
          <div id="chartContainer" style="height: 870px; width: 100%;"></div>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js"></script>
</body>

</html>